<link rel="stylesheet" href="index.css">
<body>
    <div class="bg">
        <div class="text">
            <div class="hello">
                <h1 class="idx1">Hello !!</h1>
            </div>
            <div class="motto">
                <h2 class="idx2">This is my portfolio</h2>
            </div>
        </div>
        <div class="content">
            <img class="image" src="img/marchnaja.jpg">
        </div>
    </div>
</body>
